body {
    margin: 0; 

    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    color: #555;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
}

/* Page */

.page {
    width: 100%;
    max-width: 1872px;
    margin: 0 auto;
    padding: 28px 28px;
}

/* Main */

.content {
    padding: 0 115px 0 777px;

    position: absolute;
}

.content__header {
    padding-top: 169px;
    margin-bottom: 169px;

    width: 100%;
    max-width: 630px;
    position: relative;
}

.profile__title {
    margin-bottom: 54px;

    font-size: 128px;
    font-weight: 600;
    color: #2c323d;
    line-height: 1.1;
}

.profile__subtitle {
    font-size: 54px;
    font-weight: 500;
    color: #363636;
}

.section__profile {
    margin-bottom: 154px;
}

.section__profile__title,
.section__experience__title,
.section__skills__title {
    font-size: 52px;
    font-weight: 600;
    color: #2c323d;
}

.profile__text {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.6;
}

.section__profile__title::after,
.section__experience__title::after,
.section__skills__title::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;

    background-color: #2c323d;
    margin: 62px 0 61px;
}

.section__experience {
    margin-bottom: 137px;
}

.experience__content__item {
    display: flex;
    justify-content: space-between;
}

.name__company {
    width: 218px;

    font-size: 26px;
    font-weight: 500;
}

.years__company{
    margin-bottom: 42px;
}

.company {
    font-size: 26px;
    font-weight: 500;
}

.about__company {
    width: 730px;
}

.prof {
    margin-bottom: 36px;
    
    font-size: 32px;
    font-weight: 400;
}

.prof__text {
    font-size: 32px;
    font-weight: 300;
}

.prof__text p {
    margin-bottom: 20px;
}

.skills__content__item {
    display: flex;
    justify-content: space-between;
}

.content__item__right {
    margin-right: 370px;
}

.item__name {
    font-size: 32px;
    font-weight: 400;
}

.item {
    position: relative;
}

.item__skills {
    display: flex;

    position: absolute;
    top: 9px;
    left: 206px;
}

.img__skills {
    margin-right: 15px;
}

/* sidebar */

.sidebar {
    width: 646px;
    background: #2c323d;
    color: #fff;

    padding-left: 123px;
    padding-top: 154px;
    
    position: relative;
    top: 0;
    left: 0;
}

.sidibar__photo {
    width: 356px;
    height: 356px;
    border-radius: 50%;
}

/* Section */

.contact ul,
.education ul {
    margin: 0;
    padding: 0;
}

.contact li,
.education li {
    list-style: none;
}

.section {
    margin-bottom: 177px;
}

.section:last-child {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.section__contact {
    margin-top: 164px;
}

.section__title {
    font-size: 52px;
    font-weight: 600;
}

.section__title::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #fff;
    margin: 65px 0 65px;
}

.contact__list a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}

.contact__list a:hover {
    text-decoration: underline;
}

.contact__list {
    font-size: 38px;
    font-weight: 500;
}

.education__list {
    font-size: 42px;
    font-weight: 500;
}

.laguage__list {
    font-size: 32px;
    font-weight: 400;

    position: relative;
}

.list__link {
    margin-bottom: 58px;
}

.language__skills {
    position: absolute;
    top: 5px;
    left: 178px;
}

.language__skills__eng {
    position: absolute;
    top: 4px;
    left: 178px;
}

/* Footer */

.footer {
    padding: 30px 0;
    border-top: 1px solid #2c323d;
    border-bottom: 1px solid #2c323d;
}

.footer__logo {
    width: 100px;
    height: 60px;

    top: 25px;
    left: 0;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__text {
    font-size: 14px;
    color: #2c323d;
}

.footer__link {
    font-size: 26px;
    font-weight: 500;
    color: #2c323d;

    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}